name: Playwright-Python-Multi-Browser

# Trigger workflow on push or pull request to main
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read


jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.13]
        browser: [chromium, firefox, webkit]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: build iamge for docker
        run: |
          docker build -t playwright-project .

      - name: run tests on docker too
        env:
          BROWSER: ${{ matrix.browser }}
        run: |
          mkdir -p report
          docker run --rm \
            -e BROWSER=${{ matrix.browser }} \
            -v ${{ github.workspace }}/report:/playwright/report \
            playwright-project \
            pytest --disable-warnings --capture=tee-sys --html=/playwright/report/report.html --self-contained-html

      - name: Upload HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: html-report-${{ matrix.browser }}
          path: report/report.html

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}


      #    docker run --rm -e BROWSER=${{ matrix.browser }} playwright-project \
      #    pytest --disable-warnings --capture=tee-sys --html=report.html --self-contained-html


      # -------------------------------
      #  DISABLED: Running tests twice
      # -------------------------------
      #- name: Install Dependencies
      #  run: |
      #    python -m pip install --upgrade pip
      #    pip install -r requirements.txt

      #- name: Install Playwright Browsers and Dependencies
      #  run: |
      #    playwright install-deps
      #     playwright install

      #- name: Run Tests with HTML Report
      #  env:
      #    BROWSER: ${{ matrix.browser }}
      #  run: |
      #    pytest --maxfail=1 --disable-warnings --capture=tee-sys --html=report.html --self-contained-html
